@charset "utf-8";
/* CSS Document */

body{
    background-color:#888;
    margin:0 auto;
    font-size:12px;
}

ul{
	list-style-type:none;
	text-align:center;
	margin:0px auto;  
	padding:0;
}
a{text-decoration:none;}
a:link { COLOR: #003399;  }
a:visited { COLOR: #003399; }
a:hover {color:#08A5E0;}

/* navigation */
.navbg {
	height:32px;
	width: 950px;
	font-family:"微软雅黑",Arial, Helvetica, sans-serif;
	background: #08A5E0;
	box-shadow: 1px 1px 7px #999;
	margin-top:5px; 
	text-align:center;
}
#navul li {
	float: left;
	width:100px;
	height:30px;
	font-weight:bold;
	position:relative;
	line-height:30px;
}
#navul li.navhome {
    margin-left:30px;
    width:70px;
}
#navul li.navhome a:hover {
	color:#FCFF00;
	margin: 0px auto;
	text-align: center;
}
#navul li a:link, #navul li a:visited {
	color:#FFFFFF;
}
#navul li ul {
	display:none;
	position:absolute;
	z-index:10000;
	top:38px;
	left:-1px;
	background:#006D96;
	border:#004E6C 1px solid;
	margin-top:-10px;
	border-bottom:none;
	
}
#navul li ul li {
	display:block;
	width:98px;
	float:none;
	margin-right:0px;
	height:28px;
	position:relative;
	line-height:28px;
	border-bottom:#004E6C 1px solid;
	font-size:12px;
	font-weight:normal;
}
#navul li.navmoon {
	background:#006D96;
	border:#004E6C 1px solid;
	width:98px;
	height:28px;
	line-height:28px;
}
#navul li.navmoon a {
	color:#FFFFFF;
}

#navul li.navmoon ul {
	display:block;
}
#navul li.navmoon ul a {
	display:block;
	width:98px;
	height:28px;
	line-height:28px;
}
#navul li.navmoon ul a:hover {
	background:#99ccff;
}
/* end navigation*/
hr{ width:950px;margin-top:5px; }
