@charset "utf-8";
/* CSS Document */

A {FONT-SIZE: 12px;} 
TD {FONT-SIZE: 12px;} 
INPUT {FONT-SIZE: 12px;}
A:link { COLOR: #003399; TEXT-DECORATION: none }
A:visited { COLOR: #003399; TEXT-DECORATION: none }
A:hover { COLOR: #ff0000; TEXT-DECORATION: underline }
A.nav1:link {COLOR: #ffffff;font-size:14px;font-family: '黑体';font-weight: bold;;TEXT-DECORATION: none}
A.nav1:visited {COLOR: #ffffff;font-size:14px;font-family: '黑体';font-weight:bold;TEXT-DECORATION: none;}
A.nav1:hover {COLOR: #ffff00;font-size:14px;font-family: '黑体';font-weight:bold;TEXT-DECORATION: underline;}
A.nav3:link {COLOR: #ffffff;font-size:12px;font-weight: bold;;TEXT-DECORATION: none}
A.nav3:visited {COLOR: #ffffff;font-size:12px;font-weight:bold;TEXT-DECORATION: none;}
A.nav3:hover {COLOR: #ffff00;font-size:12px;font-weight:bold;TEXT-DECORATION: underline;}
A.weizhi:link {COLOR: #d0ebff;font-size:12px;font-weight: lighter;;TEXT-DECORATION: none}
A.weizhi:visited {COLOR: ##d0ebff;font-size:12px;font-weight:lighter;TEXT-DECORATION: none;}
A.weizhi:hover {COLOR: #ffff00;font-size:12px;font-weight:lighter;TEXT-DECORATION: underline;}
A.teacher:link {COLOR: #003399;font-size:12px;font-weight: bold;;TEXT-DECORATION: none}
A.teacher:visited {COLOR: ##003399;font-size:12px;font-weight:bold;TEXT-DECORATION: none;}
A.teacher:hover {COLOR: #ff0000;font-size:12px;font-weight:bold;TEXT-DECORATION: underline;}
A.list:link {COLOR: #286BCA;font-size:14px;font-family: '黑体';font-weight: bold;;TEXT-DECORATION: none}
A.list:visited {COLOR: #286BCA;font-size:14px;font-family: '黑体';font-weight:bold;TEXT-DECORATION: none;}
A.list:hover {COLOR: #286BCA;font-size:14px;font-family: '黑体';font-weight:bold;TEXT-DECORATION: underline;}
A.nav2:link {COLOR: #003399;font-weight:bold;TEXT-DECORATION: none;}
A.nav2:visited {COLOR: #003399;font-weight:bold;TEXT-DECORATION: none;}
A.nav2:hover {COLOR: #FF0000;font-weight:bold;TEXT-DECORATION: underline;}
A.index:link {COLOR: #003399;TEXT-DECORATION: none;}
A.index:visited {COLOR: #003399;TEXT-DECORATION: none;}
A.index:hover {COLOR: #FF6600;TEXT-DECORATION: underline;}
A.my:link {COLOR: #0099CC;font-weight:bold;TEXT-DECORATION: underline;}
A.my:visited {COLOR: #0099CC;font-weight:bold;TEXT-DECORATION: underline;}
A.my:hover {COLOR: #FF6600;font-weight:bold;TEXT-DECORATION: underline;}




body, div, ul, li{
	margin:0px auto;  
	text-align:center;
	padding:0;


}
/*
body{
	/*font-family:"微软雅黑", Arial, Helvetica, sans-serif;
	color:#333333;
	line-height:25px;
	font-size:14px;
}
a:link, a:visited {
	text-decoration:none;
	color:#333333;
}*/
a:hover {
	text-decoration: underline;
	color:#08A5E0;
	text-decoration:none;
}

ul, ul li {
	list-style-type:none;
}
.cl {
	zoom:1;
	float:left;
}

/*网站头部*/
.col960 {
	width:950px;
	margin:0px auto;
	text-align:center;

	float:left;

}
.navbg {
	height:32px;
	width: 950px;
	font-family:"微软雅黑",Arial, Helvetica, sans-serif;
	background: #08A5E0;
	box-shadow: 1px 1px 7px #999;
	position:absolute;

	top:0;
	z-index:99;
	margin-top:20px;
	text-align:center;
	top: 73px;
	margin-left:auto;
	margin-right:auto;
	float:left;




	

}
#navul li {
	float: left;
	margin-right: 1px;
	width:100px;
	height:30px;
	font-weight:bold;
	position:relative;
	text-align:center;
	line-height:30px;
}
#navul li.navhome {
	text-align:left;
	padding:0 0px 0 30px;
	width:60px;
	float:left;
}
#navul li a:link, #navul li a:visited {
	color:#FFFFFF;
}
#navul li ul {
	display:none;
	position:absolute;
	z-index:10000;
	top:38px;
	left:-1px;
	background:#006D96;
	border:#004E6C 1px solid;
	margin-top:-10px;
	border-bottom:none;
	
}
#navul li ul li {
	display:block;
	width:98px;
	float:none;
	
	margin-right:0px;
	height:28px;
	position:relative;
	line-height:28px;
	border-bottom:#004E6C 1px solid;
	font-size:12px;
	font-weight:normal;
}
#navul li.navmoon {
	background:#006D96;
	border:#004E6C 1px solid;
	width:98px;
	height:28px;
	line-height:28px;
}
#navul li.navmoon a {
	color:#FFFFFF;
}
#navul li.navhome a:hover {
	color:#FCFF00;
	margin: 0px auto;
	text-align: center;
}
#navul li.navmoon ul {
	display:block;
}
#navul li.navmoon ul a {
	display:block;
	width:98px;
	height:28px;
	line-height:28px;
}
#navul li.navmoon ul a:hover {
	background:#99ccff;
}
