body{
    background:#888;
}
#container{
    width:950px;
    height:700px;
    padding:5px;
    background-color:#D0EBFF;
}
#list{
    width:230px;
    height:100%;
    float:left;
    border-right: 1px groove;
}
#content{
    width:710px;
    height:100%;
    float:right;
}
#list ul{
    margin-top:50px;
    display:list-item;
}
#list ul li{ 
    margin-top:10px;
    margin-left:5px;
    height:42px;
    text-align:left;
    border-bottom:1px dashed;
}
#list ul li a{
    margin-left:2px;
    margin-right:2px;
    font:16px Arial;
}
#list ul li a sub{
    float:right;
    margin-right:5px;
}
h2{
    
}
#wrapper{
    height:auto;
    border:2px solid gray;
}
#thumbnails{
    margin-bottom:5px;
    padding:0px;
    height:110px;
    border-bottom:2px solid gray;
}
#slidearea{
    width:650px;
    height:105px;
    float:left;
    position:relative;
    overflow:hidden;
}
#slider{
    position:absolute;
    left:0;
    height:105px;
    width:800%;
}
    
#slider img{
    cursor:pointer;
    border:1px solid #333;
    padding:3px;
    width:100px;
    height:97px;
    float:left;
    opacity:0.7;
}
#slider img:hover{
    opacity:1;
}
#slideleft{
    width:25px;
    height:105px;
    float:left;
    margin-left:2px;
    background:url(../images/scroll-left.gif) center center no-repeat;
    background-color:#333;
    border-radius:2px;
}
#slideleft:hover{
   background-color:#555; 
}
#slideright{
    width:25px;
    height:105px;
    float:right;
    margin-right:2px;
    background:url(../images/scroll-right.gif) center center no-repeat;
    background-color:#333;
    border-radius:2px;
}
#slideright:hover{
    background-color:#555;
}

#fullsize{
    position:relative;
    width:700px;
    height:520px;
    padding:2px;
}
#image{
    width:700px;
}
#image img{
    z-index:25;
    width:700px;
    height:500px;
    float:left;
}
.navimg{
    position:absolute;
    margin:3px;
    width:25%;
    height:490px;
    cursor:pointer;
    z-index:150;
    opacity:0.25;
}
.navimg:hover{
    opacity:0.7;
}
#preimg{
    left:0;
    background:url(../images/left.gif) left center no-repeat;
}
#nextimg{
    right:0;
    background:url(../images/right.gif) right center no-repeat;
}
#linkimg{
    position:absolute;
    width:100%;
    height:500px;
    z-index:100;
    opacity:0.4;
}

